body {
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
button {
    border: 0px;
}
*{
    margin: 0px;
}